.poaup{
    width: 500px; 
    height: 500px;

}
@media only screen and (max-width: 800px){
    .poaup{
        height: 330px;
        width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }    
}